In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Rikitea,PF,-23.1203,-134.9692,298.13,70,100,7.94,2022-04-30 00:38:12
1,1,Faanui,PF,-16.4833,-151.7500,300.38,73,18,7.63,2022-04-30 00:38:12
2,2,Severo-Kurilsk,RU,50.6789,156.1250,275.34,88,77,4.24,2022-04-30 00:38:13
3,3,Sagua De Tanamo,CU,20.5819,-75.2414,297.04,76,100,2.90,2022-04-30 00:38:13
4,4,Sheridan,US,44.8333,-106.9173,278.36,79,100,12.35,2022-04-30 00:38:14

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 300
What is the maximum temperature you would like for your trip? 305

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
1,1,Faanui,PF,-16.4833,-151.7500,300.38,73,18,7.63,2022-04-30 00:38:12
10,10,Sola,VU,-13.8833,167.5500,304.52,74,75,0.00,2022-04-30 00:38:16
14,14,Tiarei,PF,-17.5333,-149.3333,303.16,76,19,9.25,2022-04-30 00:38:18
30,30,Dubti,ET,11.7361,41.0853,301.96,60,97,2.48,2022-04-30 00:38:24
34,34,Avarua,CK,-21.2078,-159.7750,302.18,74,20,6.69,2022-04-30 00:38:25
49,49,Kavaratti,IN,10.5669,72.6420,302.98,76,100,5.54,2022-04-30 00:39:30
50,50,Porbandar,IN,21.6422,69.6093,301.21,83,0,4.30,2022-04-30 00:38:50
51,51,Lakatoro,VU,-16.0999,167.4164,300.93,75,74,5.34,2022-04-30 00:39:31
52,52,Vung Tau,VN,10.3460,107.0843,300.16,76,100,1.21,2022-04-30 00:39:31
60,60,Hilo,US,19.7297,-155.0900,300.53,82,100,6.17,2022-04-30 00:37:19

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Date          0
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       103
City          103
Country       103
Lat           103
Lng           103
Max Temp      103
Humidity      103
Cloudiness    103
Wind Speed    103
Date          103
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       103
City          103
Country       103
Lat           103
Lng           103
Max Temp      103
Humidity      103
Cloudiness    103
Wind Speed    103
Date          103
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1      Faanui      PF    300.38 -16.4833 -151.7500
10       Sola      VU    304.52 -13.8833  167.5500
14     Tiarei      PF    303.16 -17.5333 -149.3333
30      Dubti      ET    301.96  11.7361   41.0853
34     Avarua      CK    302.18 -21.2078 -159.7750
49  Kavaratti      IN    302.98  10.5669   72.6420
50  Porbandar      IN    301.21  21.6422   69.6093
51   Lakatoro      VU    300.93 -16.0999  167.4164
52   Vung Tau      VN    300.16  10.3460  107.0843
60       Hilo      US    300.53  19.7297 -155.0900

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))